<% unless @videos.blank? %>
	<table class="table">
		<thead>
      <tr>
      	<th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Preview</th>
      </tr>
    </thead>
    <tbody>
		<% @videos.each_with_index do |video, index| %>
		<tr>
			<td><%= index+1 %></td>
			<td><%= video.title %></td>
			<td><%= video.try(:description) %></td>
			<td><%= link_to (image_tag(video.video.url(:preview), style: 'height:200px;width:300px;')), video_path(video.id) %></td>
		</tr>
		<% end %>
	</tbody>
	</table>
<% end %>
